html, body{
    min-height: 100vh;
    min-width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background: linear-gradient( 270deg, #212121 0%, #212121 25%, #212121 50%, #212121 75%, #212121 100% );    background-size: 600% 600%;
    //background: linear-gradient( 270deg, #0f141f 0%, #1a3a29 25%, #215c38 50%, #247346 75%, #28834f 100% );    background-size: 600% 600%;
    animation: gradiente-move 30s infinite linear;
}


/*
* {
    outline: 1px solid red !important;
}

    /* BARRA DE NAVEGAÇÃO */

.navbar-container{
    position: fixed;
    top: 1rem;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(2rem, 5rem, 5rem);
    font-family: 'Fonte-principal', sans-serif;
}

.navbar-left{

    .navbar-logo{
        max-height: 2rem;
        width: auto;
    }
}

.navbar-right{
    display: flex;
    gap: 1.5rem;

    .link{
        text-decoration: none;
        font-weight: bold;
        color: #eee;
    }
}
        
.contact-circle{
    position: fixed;
    top: 90vh;
    left: 90vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(13, 199, 13), #103822);
    border: white solid .8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    .icon{
        position: absolute;
        color: #eee;
        opacity: 0;
        transition-duration: 1s;
        transform: scale(2);
    }
}
    /* BARRA DE CONTATOS */
    
.contacts-container{
    position: fixed;
    display: flex;
    justify-content: end;
    top: 90vh;
    left: calc(90vw + 4rem - 220px);
    width: 220px;
    height: 4rem;
    z-index: 3;

    .contacts{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: end;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        color: #111;
        background-color: #e0e0e0;
        font-size: larger;
        text-decoration: none;
        transition-duration: 1.6s;
        text-wrap: nowrap;
        
        .contact-content{
            margin-left: 1.1rem;
            margin-right: 1.2rem;
        }
        
        .text-content{
            overflow: hidden;
            
            .contact-text{
                transform: translateX(140px);
                transition-duration: 2s;
                margin: 0;
            }
        }
    }

    .contacts:hover{
        background-color: #111;
        transition-duration: .3s;
        color: #e0e0e0;
    }
}


    /* SEÇÃO INTRODUÇÃO */

.slides-section {
    width: 100%;
    height: 100vh;
    position: relative;
    isolation: isolate;
    
    .slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }
    
    .barra-inferior-total {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15vh;
        z-index: 1;
        pointer-events: none; 
    }

    .curva-full {
        display: block;
        width: 100%;
        height: 100%;
        mix-blend-mode: destination-out;

    }
}


    /* SEÇÃO INTRODUÇÃO */

.blog-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    font-family: 'Fonte-principal', sans-serif;

    .section-title{
        color: #e0e0e0;
        font-size: 2rem;
        letter-spacing: 3px;
        padding-left: 2rem;
        margin: 0;
        margin-bottom: 1.2rem;
    }

    .blog-posts-row{
        display: flex;
        justify-content: start;
        gap: 1.5rem;
    
        .post{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin: 0;
            gap: .6rem;
            max-width: 14rem;

            .capa{
                max-width: 10rem;
                height: auto;
                border-radius: .8rem;
                background-color: #000;
            }
            
            .post-title{
                color: #e0e0e0;
                font-size: 1rem;
            }
        }
    }
    
    .section-subtitle{
        display: flex;
        flex-direction: column;
        
        .subtitle{
            color: #e0e0e0;
            font-size: 1rem;
            letter-spacing: 1px;
            padding-left: 1.5rem;
            margin: 0;
        }
        
        .fa-brands{
            margin: 0;
            color: #e0e0e0;
            font-size: 1rem;
            padding: 0 .5rem;
            text-decoration: none;
        }
    }
}


    /* SEÇÃO PRINCIPAL */

.main-section{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 6rem;
    box-sizing: border-box;

    .animation-section{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        box-sizing: border-box;
        z-index: 2;

        .animation-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap-reverse;
            width: min-content;

            .animation-monitor{
                display: flex;
                flex-direction: column;
                align-items: center;
                animation: monitor-animation 8s infinite linear;
                margin-bottom: 1rem;

                .animation-screen{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 20rem;
                    height: 12rem;
                    border-radius: .5rem;
                    background-color: #aaa;
                    box-shadow: -3px -3px 0px 2px #777;

                    .animation-0{
                        display: none;
                        align-items: center;
                        justify-content: center;

                        .lt {
                            display: flex;
                            margin-right: 3.5rem;

                            .slash-1{
                                left: 0;
                                background-color: #2e8849;
                                width: 1rem;
                                height: 4rem;
                                border-radius: 1rem;
                                transform: rotate(45deg) translate(0rem, -1.6rem);
                            }

                            .slash-2{
                                position: absolute;
                                background-color: #2e8849;
                                width: 1rem;
                                height: 4rem;
                                border-radius: 1rem;
                                transform: rotate(-45deg) translate(0rem, 1.6rem);
                            }
                        }

                        .circle-1, .circle-2{
                            height: 0rem;
                            width: 0rem;
                            border-radius: 50%;
                            background-color: #2e8849;                        
                        }

                        .circle-1{
                            animation: circle-animation 8s infinite linear;
                        }
                        
                        .circle-2{
                            animation: circle-animation 8s .3s infinite linear;
                        }

                        .slash{
                            background-color: #2e8849;
                            width: 1rem;
                            height: 5rem;
                            border-radius: 1rem;
                            transform: rotate(20deg) translate(0rem, 0rem);
                        }

                        .mt {
                            display: flex;
                            margin-left: 3.5rem;

                            .slash-1{
                                left: 0;
                                background-color: #2e8849;
                                width: 1rem;
                                height: 4rem;
                                border-radius: 1rem;
                                transform: rotate(-45deg) translate(0rem, -1.6rem);
                            }

                            .slash-2{
                                position: absolute;
                                background-color: #2e8849;
                                width: 1rem;
                                height: 4rem;
                                border-radius: 1rem;
                                transform: rotate(45deg) translate(0rem, 1.6rem);
                            }
                        }
                    } 

                    .animation-window{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 95%;
                        height: 95%;
                        border-radius: .2rem;
                        background-color: #a8ebff;
                    }
                }

                .animation-suport{
                    width: 3rem;
                    height: 2rem;
                    background-color: #aaa;
                    box-shadow: -3px 3px 0px 2px #777;
                }

                .animation-feet{
                    width: 6rem;
                    height: 1rem;
                    border-radius: 100% 100% 0px 0px;
                    background-color: #aaa;
                    box-shadow: -5px 0px 0px 0px #777;
                }
            }

            .animation-shadow{
                width: 100%;
                height: 2rem;
                border-radius: 50%;
                background-color: #000;
                filter: blur(15px);
                animation: shadow-animation 8s infinite linear;
            }
        }
    }

    .login-section{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        padding: 0 3rem;
        box-sizing: border-box;
        font-family: 'Fonte-principal', sans-serif;
        z-index: 2;
        
        .login-title{
            color: #e0e0e0;
            font-size: x-large;
            font-weight: 600;
            letter-spacing: 3px;
        }

        .login-subtitle{
            color: #e0e0e0;
            letter-spacing: 1px;
            margin-bottom: 3rem;
            text-align: center;
        }

        .login-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            max-width: 28rem;
            
            .conect-type{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                padding: 0px;
                
                .p{
                    color: #e0e0e0;
                    font-size: large;
                    font-weight: 400;
                    cursor: pointer;
                }   
            }
            
            .selection-bar{
                display: flex;
                align-items: center;
                width: 90%;
                height: 10px;
                margin-top: 10px;
                border-radius: 20px;
                background-color: #888;
                
                .selection-type-bar{
                    width: 120px;
                    height: 10px;
                    border-radius: 20px;
                    background-color: #eee;
                    transition-duration: .8s;
                }
            }
            
            .log-in{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
                width: 100%;
        
                .a{
                    color: #e0e0e0;
                    width: 100%;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
            
            .sign-up{
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
                width: 90%;
            }
            
            .input{
                width: 100%;
                height: 40px;
                padding: 10px;
                margin-bottom: 20px;
                background-color: #e0e0e0;
                border-radius: 10px;
                font-weight: 600;
            }
            
            .button{
                color: #e0e0e0;
                background-color: #212121;
                width: 200px;
                height: 40px;
                border-radius: 15px;
                border: #e0e0e0 solid 2px;
            }
            
            .button:hover{
                background-color: #e0e0e0;
                color: #212121;
            }
        }

        .register-message{
            font-family: 'Fonte-principal', sans-serif;
            font-size: larger;
            color: #e0e0e0;
            margin-top: 1rem;
            letter-spacing: 1px;
        }
    }

    .canvas-particulas {
        position: absolute; /* Tira do fluxo e permite sobreposição */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        z-index: 1; /* Nível 1: Fica logo acima da cor de fundo da section */
        pointer-events: none; /* Importante: Deixa você clicar nos botões de login através das partículas */
    }
}

/* ABOUT PAGE 

.port-page{
    display: block;

    .habilits, .projects, .about{
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 100px;
        width: 100%;
    }


    .name-section{
        display: flex;
        align-items: end;
        justify-content: center;
        width: 5%;
        transform: translateY(100px);
        
        .name{
            transform: rotate(-90deg);
            color: #e0e0e0;
            letter-spacing: 7px;
            font-size: 22px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            white-space: nowrap;
        }
    }
}

.port-about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    margin-top: 40px;

    .port-about-card{
        display: flex;
        align-items: top;
        justify-content: start;
        flex-direction: column;
        width: 80%;
        height: 80%;
        border: #e0e0e0 solid 2px;
        border-radius: 30px;

        .port-about-title{
            display: inline-block;
            color: #e0e0e0;
            margin-left: 5%;
            font-size: larger;
            background-color: #111;
            padding-left: 15px;
            padding-right: 15px;
        }

        .port-about-text{
            color: #e0e0e0;
            margin-top: -10px;
            margin-left: 8%;
            margin-right: 8%;
            font-size: large;
        }
    }
}

.port-habilits-container{
    display: flex;
    align-items: top;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;

    .port-habilits-card{
        display: flex;
        align-items: top;
        justify-content: start;
        flex-direction: column;
        width: 180px;
        margin: 10px;
        padding: 20px;
        border-radius: 20px;
        background-color: #e0e0e0;

        .port-habilits-card-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            transform: scale(1.5);
            border-radius: 10px;

        }

        .front-end{
            background-image: linear-gradient(to bottom, rgb(95, 138, 255), #000080 );
        }
        
        .back-end{
            background-image: linear-gradient(to bottom, orange, orangered );
        }

        .data-science{
            background-image: linear-gradient(to bottom,  #77cc00, #44bb00);
        }

        .port-habilits-card-title{
            flex-wrap: wrap;
            font-size: x-large ;
            font-weight: 1000;
            margin-top: 20px;
        }

        .port-habilits-card-line{
            height: 2px;
            background-color: #111;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .port-habilits-card-text{
            color: #111;
            font-size: larger;
            margin-top: 10px;
        }

    }
}

.port-projects-container{
    display: flex;
    flex-direction: column;
    width: 95%;

    .port-filter-container{
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap:  nowrap;
        overflow: auto;
        margin-left: 5%;
        width: 90%;    
    
        .filter-button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
            min-width: 100px;
            padding: 10px;
            color: #ccc;
            border: #ccc solid 2px;
            border-radius: 20px;
            background-color: transparent;
        }

        .button-active{
            color: lawngreen;
            border: lawngreen solid 2px;
        }
    }
    
    .port-project-cards-container{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 3%;
        flex-wrap: wrap;

        .port-project-card-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin: 20px;
        }

        .port-project-card{
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 300px;
            min-height: 200px;
            border-radius: 50px;
            background-color: #e0e0e0;
            text-decoration: none;
            color: #111;
            font-size: x-large;
            font-weight: 500;
            
        }

        .port-project-description{
            width: 0px;
            height: 0px;
            position: absolute;
            opacity: 0;
            border-radius: 20px;
            border: #000 solid 2px;
            background-color: #ccc;
            transform: translatey(-90px);
            flex-wrap: wrap;
            padding: 10px;
            font-weight: 500;
        }

        .port-project-card:hover + .port-project-description{
            min-width: 300px;
            min-height: 70px;
            transform: translate(40px, -120px);
            transition-duration: 1s;
            opacity: 1;
        }
    }
}
*/

/* CONFIGURAÇÕES PARA CELULAR e tablet */
@media screen and (max-width: 1000px) {
    .navbar-container{
        position: absolute;
        top: 2vh;
        left: 10vw;
        padding: 0;
        width: auto;
    }
    .navbar-right{
        display: none;
    }
    .contacts-container{
        display: none;
    }
    .contact-circle{
        display: none;
    }
    .main-section{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 6rem;
    }
    .animation-section{
        width: 80%;
    }
    .login-section{
        min-width: 100%;
        padding: 0;
    }

}

/* FONTE PRINCIPAL */
@font-face {
    font-family: 'Fonte-principal', sans-serif;
    src: url(fonts/29lt-bukra.ttf) format('truetype');
}

/* ANIMÇÃO DO BACKGROUND */
@keyframes gradiente-move {
    0%{ background-position: 0% 50%; }
    50%{ background-position: 100% 50%; }
    100%{ background-position: 0% 50%; }
}

@keyframes monitor-animation {
    0%{ transform: translate(0px, 0px); }
    50%{ transform: translate(0px, -2rem); }
    100%{ transform: translate(0px, 0px); }
}

@keyframes shadow-animation {
    0%{ transform: scale(1); }
    50%{ transform: scale(.8); }
    100%{ transform: scale(1); }
}

@keyframes circle-animation {
    20%{ /* começo */
        margin-right: 0rem;
        height: 0rem;
        width: 0rem;
    }
    30%{ /* aparece */
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    40%{  /* parado */
        transform: translateY(0rem);
    }
    43%{  /* pulo */
        transform: translateY(-1rem);
    }
    46%{  /* parado */
        transform: translateY(0rem);
    }
    59%{  /* parado */
        transform: translateY(0rem);
    }
    62%{  /* pulo */
        transform: translateY(-1rem);
    }
    65%{  /* parado */
        transform: translateY(0rem);
    }
    75%{  /* aparece */
        margin-right: 1rem;
        height: 2rem;
        width: 2rem;
    }
    85%{  /* desaparece */
        margin-right: 0rem;
        height: 0rem;
        width: 0rem;
    }
}