body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(315deg, #0f141f, #1f6d41 );
}

.main-container{
    max-width: 650px;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    background-color: #151515;
    border-radius: 26px;
    margin-bottom: 2rem;
    
    .head-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 7%;
    
        .logo{
            max-width: 200px;
            width: 100%;
            object-fit: contain;
        }

        .line{
            margin-top: 2rem;
            background-color: #fff;
            width: 100%;
            height: 1px;
        }

        .title{
            color: #fff;
            font-family: 'Fonte-principal', sans-serif;
            font-size: 1.2rem;
            margin-top: 2rem;
            text-align: center;
        }

        .icons{
            display: flex;
            justify-content: space-evenly;
            width: 80%;

            .icon{
                color: #fff;
                font-size: 1.5rem;
                margin: 1rem;
                text-decoration: none;
            }
        }
    }

    .body-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        .body-section{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .body-section-element{
                color: #bbb;
                font-family: 'Fonte-principal', sans-serif;
                font-size: 1.2rem;
                margin: .5rem;
                margin-top: 0;
                cursor: pointer;
            }

            .body-section-element:hover, .active{
                color: #fff;
                transform: scale(1.1);
            }
        }

        .body-line{
            width: 100%;
            display: flex;
            align-items: end;
            height: 2px;
            margin-bottom: 2.5rem;

            .line{
                background-color: #fff;
                width: 100%;
                height: 1px;
                margin: 0;
            }

            .active{
                height: 2px;
            }
        }
        
        .element-container, .notice-container{
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            align-items: end;
            justify-content: start;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 1rem;
            text-decoration: none;
            margin-bottom: 2.5rem;
            
            .element-icon{
                max-width: 100px;
                width: 100%;
                object-fit: contain;
            }
            
            .element-title{
                font-size: 2.2rem;
                text-align: end;
                padding-left: 1rem;
                margin: 0;
            }

            .element-description{
                font-family: 'Fonte-principal', sans-serif;
                color: #aaa;
                margin: 0;
                margin-top: 1rem;
                font-size: .9rem;
                text-align: justify;
                
            }
        }

        .notice-container{
            display: none;
        }
    }
}


@media (max-width: 650px) {
    .main-container{
        border-radius: 24px;
        margin: 15px;
        height: auto;
    }

    .head-container{
        padding-bottom: 10%;
    }
}

@font-face {
    font-family: 'Fonte-principal', sans-serif;
    src: url(fonts/29lt-bukra.ttf) format('truetype');
}